* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    box-shadow: 0 0 8px #663399;
}
.nav-brand {
    color: white;
    font-size: 1.4rem;
}
.course-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0 1.5rem;
    padding: 0 1rem;
}
.course-search > input {
    border: none;
    outline: none;
    padding: 1rem;
    flex: 1;
}
.course-search > i {
    font-size: 1.8rem;
    color: rgb(168, 168, 168);
}
.nav-item {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}
.nav-item i {
    font-size: 1.2rem;
}
.nav-link {
    color: white;
    cursor: pointer;
}
.nav-link > a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.5rem;
}
.popped-parent {
    position: relative;
    padding: 2.5rem 0;
}
.popped-parent:hover .popped-courses{
    display: block;
}
.popped-courses {
    display: none;
    position: absolute;
    color: black;
    background: white;
    box-shadow: 0 0 6px rgb(229, 229, 229);  
    top: 100px;
    left: -20px;
    padding: 1.5rem;
    width: 200px;
    border-radius: 8px;
}
.popped-content {
    list-style: none;
}
.popped-content > li {
    margin: .8rem 0;
}
.popped-content > li > a {
    text-decoration: none;
    color: #535353;
}
.nav-link > button {
    padding: 0.4rem .8rem;
    font-weight: bold;
    background: none;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 90vh;
    display: flex;      
    justify-content: space-between;
    padding: 3rem;
}
.banner > .banner-header {
    max-width: 50%;
    padding: 5rem 0;
}
.banner-header h1 {
    font-size: 3rem;
    color: #2f2f2f;
    max-width: 80%;
    margin-bottom: 1rem;
}
.banner-header h2 {
    color: #535353;
    max-width: 80%;
}
.banner > .banner-logo {
    max-width: 50%;
}
.banner-logo > img {
    width: 100%;
}


.categories {
    padding: 0 3rem;
}
.categories > .categories-header {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.categories-header > h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #2f2f2f;
}
.categories-header > h2 {
    color: #535353;
}
.categories-cardDeck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.categories-cardDeck > .categories-card {
    max-width: 360px;
    height: 400px;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px rgb(186, 186, 186);
    margin: 1.5rem;
    transition: all 0.4s ease;
}
.categories-card:hover {
    transform: scale(1.1);
}
.categories-card > .card-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.categories-card > .card-detail {
    padding: 1rem;
}
.card-detail > p {
    color: #535353;
}
.card-detail h2 {
    margin-bottom: 0.7rem;
    color: #2f2f2f;
}
.card-image > img {
    width: 100%;
}
.categories-card > .card-footer {
    padding: 1rem;
    padding-top: 0;
    margin-top: .8rem;
}
.card-footer a {
    text-decoration: none;
    color: white;
    background: rebeccapurple;
    padding: 0.5rem 1rem;
}
a > i {
    margin-left: 8px;
}

.courses {
    padding: 3rem;
}
.course-heading {
    text-align: center;
}
.course-heading h1 {
    color: #2f2f2f;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.course-heading h2 {
    color: #535353;
    font-size: 1.5rem;
}
.course-cardDeck {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 3rem 0;

}
.course-cardDeck > .course-card {
    max-width: 300px;
    display: flex;
    height: 300px;
    flex-direction: column;
    margin: 1rem;
    transition: all 0.4s ease;
}
.course-card:hover {
    box-shadow: 2px 2px 4px rgb(206, 206, 206);
    transform: scale(1.1);
}
.course-card > .course-card-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.course-card-image img {
    width: 100%;
    height: 100%;
}
.course-card > .course-card-detail {
    margin: 0.7rem 0;
}
.course-card-detail > h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;

}
.course-creator {
    margin-bottom: 0.7rem;
    color: #535353;

}
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rating {
    font-weight: bold;
    font-size: 1.2rem;
}
.rating > i {
    color: #E59819;
    font-size: 0.9rem;
}
.price {
    font-weight: bold;
    font-size: 1.2rem;
}



.instructor {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructor > .content {
    padding: 3rem;

}
.instructor > .content h1 {
    font-size: 2.5rem;
    color: #2f2f2f;
    margin-bottom: 1rem;
}
.instructor > .content p {
    max-width: 350px;
    margin-bottom: 1rem;
    color: #535353;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.instructor > .content button {
    padding: .7rem 1rem;
    border: none;
    background: rebeccapurple;
    color: white;
    letter-spacing: 1px;
}
.instructor > .content button:hover {
    cursor: pointer;
}
.instructor-image {
    width: 50%;
    padding: 3rem;
}
.instructor-image > img {
    width: 100%;
}
.footer-section {
    padding: 3rem;
    background: #F5F5F5;
}
.upper-section {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}


.community {
    padding: 3rem;
}
.community > h1 {
    font-size: 3rem;
    text-align: center;
    color: #2f2f2f;
    margin-bottom: 1rem;
}
.community > h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #535353;
    text-align: center;
}
.community > .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.community > .content .card {
    max-width: 250px;
    margin: 3rem;
}
.community > .content > .card > .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community > .content > .card > .upper > img {
    width: 80%;
    max-height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.personal-detail {
    text-align: center;
}
.personal-detail > p {
    margin-bottom: 0.6rem;
}
.personal-detail > p:first-child {
    color: rebeccapurple;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.personal-detail > p:nth-child(2) {
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.personal-detail > p:nth-child(3) {
    color: #535353;
    margin-bottom: 1rem;
}
.community > .content > .card > .lower {
    text-align: center;
    font-size: 1.3rem;
}





.services {
    list-style: none;
    display: inline-block;
    margin-right: 4rem;
}
.services > li {
    margin-bottom: 0.5rem;  
}
.brand-name {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 3rem;
}
.lower-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}
.brand-icon {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.lower-section > div {
    font-size: 1.3rem;
}